.rt-right-panel {
  width: 350px;
  position: absolute;
  padding: 10px;
  height: 100%;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, .2);
  z-index: 99;
  transition: all .2s linear;
  background: #494949;
  overflow: visible;
  top: 0;
  right: 0;

  &__slot {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    padding: 5px;
    background: #ffc400;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, .2);
    z-index: 1000;
  }

  &--compressed {
    right: -350px;
  }

  &--expanded {
    right: 0;
  }
}
