.order {
  &-header {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-date {
    font-size: .9rem;
  }

  &-status {
    font-size: .9rem;
    padding: 5px 10px;
    border-radius: 10px;
  }

  &-address {
    margin-top: 10px;
  }

  &-weight {
    margin-top: 20px;
  }

  &-text {
    margin-top: 20px;

    &__message {
      @include flex(inline-flex, center, center);

      & > .v-icon {
        margin-right: 5px;
      }
    }
  }

  &-dimensions {
    margin-top: 20px;

    &__height,
    &__width,
    &__length {
      @include flex(inline-flex, center, center);
      font-size: .8rem;
      margin-right: 15px;

      & > .v-icon {
        margin-right: 5px;
      }
    }
  }

  &-price {
    margin-top: 20px;

    &__number {
      padding: 10px 0;
      @include flex(flex, flex-start, center);
    }

    &__count {
      font-size: 1.6rem;
      font-weight: 700;
      margin-right: 5px;
    }
  }
}
