//status-colors
$black: #272727;
$primary: #1565C0;
$warning: #ff8f00;
$success: #00C853;
$error: #E53935;

// brand-colors
$brandDarkBlue: #000d24;
$brandOrange: #ff990a;
$headerColor: $brandDarkBlue;
$sidebarColor: $brandDarkBlue;

//shadows
$shadowHigh: 0 0 14px 0 rgba(0, 0, 0, .4);
$shadowMiddle: 0 0 8px 0 rgba(0, 0, 0, .4);
$shadowDown: 0 0 4px 2px rgba(0, 0, 0, .4);

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$headerHeight: 60px;
$asideWidth: 60px;

// Media queries
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
